.background-img {
  background-image: url('../images/caphacks-bg.png');
  background-size: 191vh;      /* Use the image's real/native size */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment:scroll; /* Allows image to scroll with the section */
  min-width: 100vh;
  min-height: 100vh;
  margin-top: -70px;
  position: relative;
}

.background-img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.274), transparent);
  pointer-events: none;
}

.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-bottom: 100px;
}

.hero-title{
  color: var(--text-color);
  font-size: 63px;
  text-align: center;
  line-height: 110%;
  letter-spacing: -3%;
  width: 1100px;
}

.lowlight {
  color: #888  ;
  font-style: italic;
  font-weight: 400;
}

.highlight {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.hero-description{
  color: var(--text-color);
  font-size: 18px;
  margin: auto;
  margin-top: 18px;
  text-align: center;
  letter-spacing: -3%;
  width: 490px;
}

.cta-buttons {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  flex-direction: row;
}

.colored-btn{
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 16px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

.colored-btn:hover {
  background-color: #e9004a;
  border-color: #e9004a;
}

.noBg-btn{
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 16px 34px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
} 

.noBg-btn:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

/*end of hero section*/

/*CAPCUT FEATURES CONTAINER SECTION*/

.capcut-features-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title-container {
  display: flex;
  flex-direction: column;
  /* position: sticky;
  top: 80px;
  left: 0px; */
  padding-top: 20px;
  padding-left: 100px;
  width: 80%;
  background-color: var(--background-color);
  border-radius: 100px;
  background: var(--background-color);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.10);
  
}

.features-title {
  color: var(--text-color);
  font-size: 42px;
  letter-spacing: -3%;
  text-align: justify;
  margin-bottom: 8px;
}

.features-description {
  font-size: 16px;
  line-height: 120%;
  width: 500px;
  text-align: justify;
  margin-bottom: 30px;
}

.features-row{
  margin-top: 50px;
}

.features-row,
.features-row-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.features-row-reverse {
  flex-direction: row-reverse;
}

.text-content {
  width: 600px;
}

.image-content img {
  width: 450px;
  border-radius: 15px;
  display: block;
  animation: scrolling linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes scrolling {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

/*about us section*/


.about-us-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-left: 200px;
}

.about-us-title{
  color: var(--text-color);
  font-size: 42px;
  letter-spacing: -3%;
  text-align: justify;
}

.about-us-description{
  color: var(--text-color);
  font-size: 18px;
  line-height: 120%;
  width: 600px;
  text-align: justify;
  margin-bottom: 50px;
}
  

.about-us-image img{
  width: 900px;
}